@charset "UTF-8";

/* (S) COMMON */
.fix-layout{width:100%; max-width:1500px; margin:0 auto; padding:0 5%;}
/* (E) COMMON */

/* (S) FONTS */
@font-face {font-family: 'Paperlogy';src: url('./fonts/Paperlogy-1Thin.ttf') format('truetype');font-weight: 100;font-style: normal;}
@font-face {font-family: 'Paperlogy';src: url('./fonts/Paperlogy-2ExtraLight.ttf') format('truetype');font-weight: 200;font-style: normal;}
@font-face {font-family: 'Paperlogy';src: url('./fonts/Paperlogy-3Light.ttf') format('truetype');font-weight: 300;font-style: normal;}
@font-face {font-family: 'Paperlogy';src: url('./fonts/Paperlogy-4Regular.ttf') format('truetype');font-weight: 400;font-style: normal;}
@font-face {font-family: 'Paperlogy';src: url('./fonts/Paperlogy-5Medium.ttf') format('truetype');font-weight: 500;font-style: normal;}
@font-face {font-family: 'Paperlogy';src: url('./fonts/Paperlogy-6SemiBold.ttf') format('truetype');font-weight: 600;font-style: normal;}
@font-face {font-family: 'Paperlogy';src: url('./fonts/Paperlogy-7Bold.ttf') format('truetype');font-weight: 700;font-style: normal;}
@font-face {font-family: 'Paperlogy';src: url('./fonts/Paperlogy-8ExtraBold.ttf') format('truetype');font-weight: 800;font-style: normal;}
@font-face {font-family: 'Paperlogy';src: url('./fonts/Paperlogy-9Black.ttf') format('truetype');font-weight: 900;font-style: normal;}
@font-face {font-family: 'Pretendard';src: url('./fonts/Pretendard-Thin.woff2') format('woff2');font-weight: 100;font-style: normal;}
@font-face {font-family: 'Pretendard';src: url('./fonts/Pretendard-ExtraLight.woff2') format('woff2');font-weight: 200;font-style: normal;}
@font-face {font-family: 'Pretendard';src: url('./fonts/Pretendard-Light.woff2') format('woff2');font-weight: 300;font-style: normal;}
@font-face {font-family: 'Pretendard';src: url('./fonts/Pretendard-Regular.woff2') format('woff2');font-weight: 400;font-style: normal;}
@font-face {font-family: 'Pretendard';src: url('./fonts/Pretendard-Medium.woff2') format('woff2');font-weight: 500;font-style: normal;}
@font-face {font-family: 'Pretendard';src: url('./fonts/Pretendard-SemiBold.woff2') format('woff2');font-weight: 600;font-style: normal;}
@font-face {font-family: 'Pretendard';src: url('./fonts/Pretendard-Bold.woff2') format('woff2');font-weight: 700;font-style: normal;}
@font-face {font-family: 'Pretendard';src: url('./fonts/Pretendard-ExtraBold.woff2') format('woff2');font-weight: 800;font-style: normal;}
@font-face {font-family: 'Pretendard';src: url('./fonts/Pretendard-Black.woff2') format('woff2');font-weight: 900;font-style: normal;}
body {font-family:'Pretendard', 'Paperlogy', sans-serif;}
/* (E) FONTS */


/* (S) Header */
.header { background: #fff; color: white; box-shadow: 0 2px 5px rgba(0,0,0,0.1); }
.header-content {display: flex; justify-content: space-between; align-items: center; height:100px;}
.logo img{width:100px; height:auto;}
.user-info { display: flex; align-items: center; gap: 20px;}
.btn-logout {color:#5a5a5a; font-size: 14px; border:none; background:none; cursor:pointer}
.btn-logout:hover { text-decoration: underline;}
/* (E) Header */


/* (S) Footer */
#footer{background:#fff; border-top:1px solid #e5e5e5; padding:40px 0 60px 0;}
#footer .footer-top{display:flex; justify-content:space-between; flex-direction:row; margin-bottom:40px;}
#footer .footer-top .logo img{width:130px;}
#footer .footer-top .logo p{color:#222; font-weight:600; font-size:14px; margin-bottom:5px; font-style:italic;}
#footer .footer-top .links{display:flex; flex-direction:row; gap:20px}
#footer .footer-top .links a{font-size:16px; color:#5a5a5a; }
#footer .copy{border-top:1px solid #e5e5e5; padding:20px 0 10px 0; color:#a1a1a1 }
/* (E) Footer */



/******************************RESET.CSS **************************************/
/* (S) RESET */
* {margin: 0; padding: 0; box-sizing: border-box; letter-spacing:-0.05em;}
body { font-family: 'Noto Sans KR';}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{color:#5a5a5a; text-decoration:none}
/* (E) RESET */
/******************************RESET.CSS **************************************/
